@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";

/*styles.css파일에는 폰트스타일이나 배경컬러와 같은 모든 화면에 적용되는 스타일들을 적으면 됨*/
body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
